<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!-- 
    List of servlets 
    --> 
    <!-- Servlets Page -->
    <servlet>
        <servlet-name>ParisPageServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.pages.ParisPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricPageServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.pages.HistoricPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingPageServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.pages.RankingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPageServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.pages.AccountPageServlet</servlet-class>
    </servlet>
    <!-- Servlets Tools -->
    <servlet>
        <servlet-name>ConnectServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.ConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataTestServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.DataTestServlet</servlet-class>
    </servlet>
    <!-- Servlets Cron -->
    <servlet>
        <servlet-name>TeamCronServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.cron.TeamCronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCronServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.cron.ScheduleCronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreCronServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.cron.ScoreCronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyBonusCronServlet</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.servlet.cron.DailyBonusCronServlet</servlet-class>
    </servlet>
    <!-- 
    Mapping the servlets list 
    -->
    <!-- Servlets Page -->
    <servlet-mapping>
        <servlet-name>ParisPageServlet</servlet-name>
        <url-pattern>/paris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingPageServlet</servlet-name>
        <url-pattern>/rank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricPageServlet</servlet-name>
        <url-pattern>/histo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPageServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <!-- Servlets Tools -->    
     <servlet-mapping>
        <servlet-name>ConnectServlet</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping> 
     <servlet-mapping>
        <servlet-name>DataTestServlet</servlet-name>
        <url-pattern>/datatest</url-pattern>
    </servlet-mapping> 
    <!-- Servlets Cron -->
    <servlet-mapping>
        <servlet-name>TeamCronServlet</servlet-name>
        <url-pattern>/cron/team</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ScheduleCronServlet</servlet-name>
        <url-pattern>/cron/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreCronServlet</servlet-name>
        <url-pattern>/cron/score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyBonusCronServlet</servlet-name>
        <url-pattern>/cron/bonus</url-pattern>
    </servlet-mapping>
    <!-- Security -->
    <security-constraint>
        <!-- Need to be logged -->
	    <web-resource-collection>
	        <url-pattern>/account</url-pattern>
	        <url-pattern>/histo</url-pattern>
	        <url-pattern>/log</url-pattern>
	        <url-pattern>/datatest</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>*</role-name>
	    </auth-constraint>
    </security-constraint>
    <!-- Objectify -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- cron -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
    <!-- Default Welcome File -->
    <welcome-file-list>
        <welcome-file>jsp/pages/HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>