<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!-- List of servlets --> 
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJSPTest</servlet-name>
        <servlet-class>upmc.aar2013.project.heraclessport.server.TestJspServlet</servlet-class>
    </servlet>
    <!-- Mapping the servlets list -->
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJSPTest</servlet-name>
        <url-pattern>/testjsp</url-pattern>
    </servlet-mapping>   
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>