/*
    General.css
*/
* {
	margin:0; padding:0;
}
a {
	color:#FF6600;
	text-decoration:none;
}
a:hover {
	color:#66FF00;
}
ul {
	list-style:none;
}
ul li {
	float:left;
}
.orange {
	color:#FF6600;
}
.error {
	color:#FF0000;
}
.succes {
	color:#00FF00;
}
.bg_gradient_green {
	background-image:linear-gradient(#33FF33, #009900);
}
html {
	
}
body {
	font-family:arial, sans-serif;
    font-size:16px;
	color:#FFFFFF;
	background-color:#000000;
	background-attachment:fixed;
	background-position:center top;
	background-repeat:no-repeat;
	background-image:url('../images/style/bg_stadium001.jpg');
}
div#page {
	position:relative;
	margin:0 auto;
	width:1000px;
}
header, nav, section, footer {
	float:left; clear:both;
	width:1000px;
	margin-top:20px;
	border:2px solid #FFFFFF;
	border-radius:10px;
	background-color:#000000;
}
header {
	height:100px;
}
header h1 {
	margin-top:32px;
	text-align:center;
}
nav {
	height:50px;
}
nav ul {
	margin:10px;
	height:30px;
}
nav ul li {
	width:140px;
	text-align:center;
	font-weight:bold;
	border:4px solid #DDDDDD;
	border-radius:10px 20px 10px 20px;
	background-color:#FF6600;
}
nav ul li:hover {
	background-color:#FFFFFF;
}
nav ul li.log_co {
	background-color:#33FF33;
}
nav ul li.log_co:hover {
    background-color:#009900;
}
nav ul li.log_disc {
    background-color:#FF3333;
}
nav ul li.log_disc:hover {
    background-color:#990000;
}
nav ul li a {
	float:left;
	width:100%;
	font-size:20px;
	color:#000000;
}
nav ul li:hover a, nav ul li:hover a:hover {
	color:#FF6600;
}
nav ul li.log_co:hover a, nav ul li.log_co:hover a:hover {
    color:#FFFFFF;
}
nav ul li.log_disc:hover a, nav ul li.log_disc:hover a:hover {
    color:#FFFFFF;
}
section {
	width:980px; min-height:200px;
	padding:10px;
}
section h2 {
	text-align:center;
	margin-bottom:20px;
}
section h3 {
	font-size:20px;
	color:#33FF33;
	text-decoration:underline;
	margin-bottom:10px;
}
footer {
	height:20px;
}
/*
* Forms
*/
p.form_clear {
	float:left; clear:both;
}
.log_form {
	float:left;
	width:100%;
}
.log_form fieldset {
    padding:10px;
}
.log_form .fiel_clear {
	float:left; clear:both;
	width:100%;
	margin-bottom:10px;
}
.log_form label {
    float:left; clear:both;
    width:500px; height:20px;
    font-weight:bold;
    color:#FF6600;
}
.log_form input {
	float:left; clear:left;
	width:250px; height:20px;
}
.log_form .button {
	width:200px; height:30px;
	font-size:20px;
	font-weight:bold;
    border-radius:5px;
    border:2px solid #FFFFFF;
    color:black;
    cursor:pointer;
}
.log_form .button:hover {
	background-image:linear-gradient(#67AE55, #578843);
}
.log_form span {
	float:left;
	width:650px;
	margin-left:20px; padding:5px 0;
	font-style:italic;
	font-size:14px;
}
.log_form p {
	float:left; clear:both;
	width:100%;
    font-style:italic;
    font-size:14px;
}
.log_form p.error, .log_form p.succes {
    font-weight:bold;
    text-align:center;
}  
/**
* Ranking
*/
.ranking {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #000000;
}
.ranking table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%; height:100%;
    margin:0px;padding:0px;
}
.ranking tr:hover td{
    
}
.ranking tr:nth-child(odd) { 
	background-color:#ffaa56; 
}
.ranking tr:nth-child(even) { 
	background-color:#ffffaa; 
}
.ranking td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:10px;
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}
.ranking tr#me td {
	color:orangered;
	font-weight:bold;
}
.ranking tr:last-child td{
    border-width:0px 1px 0px 0px;
}
.ranking tr td:last-child{
    border-width:0px 0px 1px 0px;
}
.ranking tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
/* Header of table */
.ranking tr:first-child td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #684014 100%);    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #684014) );
    background:-moz-linear-gradient( center top, #ff7f00 5%, #684014 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#684014");  
    background: -o-linear-gradient(top,#ff7f00,684014);
    background-color:#ff7f00;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.ranking tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #684014 100%);    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #684014) );
    background:-moz-linear-gradient( center top, #ff7f00 5%, #684014 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#684014");  
    background: -o-linear-gradient(top,#ff7f00,684014);
    background-color:#ff7f00;
}
.ranking tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.ranking tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
/**
* Schedules
**/
.schedules {
	float:left; clear:both; 
	width:100%;
}
.schedules h3 {
	text-decoration:none;
}
.schedules div.sched, .schedules div.nosched {
	float:left; clear:both;
	width:956px;
    padding: 10px;  
    border: 2px solid #FFFFFF;
    border-radius: 30px 30px 30px 30px;
}
.schedules div.sched {
	min-height:80px;
}
.schedules div.nosched {   
    color: orange;
    font-weight: bold;   
    text-align: center;
    border-color: orangered;
}
.schedules div.allready {   
    border-color: orange;
}