/**
* Paris Page Css
**/
.paris_form {
	margin-top:10px;
}
.paris_form .fiel_clear {
    padding:5px 0; margin:0;
    border-bottom:1px solid gray;
}
.paris_form div {
    float:left; clear:both;
}
.paris_form .button {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
}
.paris_form label, input {
	float:left;
	height:24px;
}
.paris_form label {
	margin-right:10px;
	padding:4px 0;
	font-size:16px;
}
.paris_form input[type="text"] {
	width:30px;
	text-align:center;
}
.paris_form input[type="checkbox"] {
    
}
.paris_form select {
    float: left;
    font-size: 16px;
    min-width: 150px;
    text-align: center;
}